#gallery {
  margin-top: 10%;
  margin-bottom: -10%; }
  #gallery #wrapper {
    width: 100%;
    height: 40vh; }
    #gallery #wrapper div {
      width: 100%; }
    #gallery #wrapper img {
      height: 100%;
      width: 100%; }
