.title {
  font-family: $title;
  color: $blue;
  font-size: $large;
}

#about {

  hr {
    color: $blue;
    width: 10vw;
    height: 4px;
  }

  .experience {
    color: $blue;
    font-size: $medium;
  }

 .card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas: 
    "photo"
    "text"
    "icon";
    border: 3px solid  $blue;
    height: auto;
    width: 80%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 0 auto; 
    grid-gap: $medium;
    margin-bottom: $medium;
    .photo {
      grid-area: photo;
      max-height: 300px;
      
      img {
        display: block;
        max-width: 100%;
        max-height: 300px;
        // height: auto;
        width: auto;
      } 
    }
      
    .text {
      grid-area: text;
    }

    .icon {
      grid-area: icon;
    }
  }
}

i {
  font-size: 2rem;
  color: white;
  width: relative;
  height: relative;
  text-align: center;
  padding: 1rem;
  background-color:$peach;
}