footer {
  background-color: $blue;
  height: 8vh;
  display: flex;
  flex-direction: row;
  // display: grid;
  // grid-template-columns: 1fr;
  // grid-template-rows: 2fr 1fr;
  // grid-template-areas: 
  // "copy copy logo";
  align-items: center;
  justify-content: space-between;

  h2  {
    color: white;
    vertical-align: middle;
    text-align: center;
    flex-grow: 1;
    // grid-area: copy;
    padding-top: 6%;
    font-size: $small;
    font-weight: 500;
    max-width: 70%;
  }
  img {
    // height: 150%;
    // grid-area: logo;
    // margin-top: 20%;
    max-height: 100%;
  }
}